development/flows-v4.json
[{"id":"20c0427cce7d688f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eed6483f62b52214","type":"flexradio-radio","name":"","host":"flex-6600m","port":"4992","station_name":"NodeRed","slice_mode":"headless","slice_name":"A"},{"id":"11287c7ad0e8c478","type":"debug","z":"20c0427cce7d688f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":80,"wires":[]},{"id":"ba7f2ab979a090d0","type":"flexradio-message","z":"20c0427cce7d688f","name":"","radio":"eed6483f62b52214","topic":"","x":190,"y":200,"wires":[["276c7dc7480e7d77"]]},{"id":"276c7dc7480e7d77","type":"debug","z":"20c0427cce7d688f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":200,"wires":[]},{"id":"b0a4bdc0b245eb9a","type":"flexradio-request","z":"20c0427cce7d688f","name":"","radio":"eed6483f62b52214","x":420,"y":320,"wires":[["a5f4134232568bca"]]},{"id":"a5f4134232568bca","type":"debug","z":"20c0427cce7d688f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":320,"wires":[]},{"id":"5ca63564eea1b5e9","type":"inject","z":"20c0427cce7d688f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub meter 25","payloadType":"str","x":150,"y":340,"wires":[["b0a4bdc0b245eb9a"]]},{"id":"073476b7ac908f79","type":"inject","z":"20c0427cce7d688f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"meter list","payloadType":"str","x":140,"y":400,"wires":[["b0a4bdc0b245eb9a"]]},{"id":"b7e0ecad3d40dccf","type":"flexradio-meter","z":"20c0427cce7d688f","name":"","radio":"eed6483f62b52214","topic":"RAD/+/MAINFAN","output_mode":"value","x":260,"y":520,"wires":[["369fda776c4625c3"]]},{"id":"369fda776c4625c3","type":"debug","z":"20c0427cce7d688f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":520,"wires":[]},{"id":"5f263d5b626442dd","type":"inject","z":"20c0427cce7d688f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub meter all","payloadType":"str","x":160,"y":280,"wires":[["b0a4bdc0b245eb9a"]]},{"id":"eafd159bf90ac7b0","type":"inject","z":"20c0427cce7d688f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub meter 18","payloadType":"str","x":290,"y":240,"wires":[["b0a4bdc0b245eb9a"]]},{"id":"d43b2dad51d56d42","type":"flexradio-discovery","z":"20c0427cce7d688f","name":"","port":4992,"x":190,"y":80,"wires":[["11287c7ad0e8c478"]]}]