development/flows-v1.json
[{"id":"ba45adb2.3b31a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4b844d0a.6b7bdc","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"23d6208b.0d1d7","type":"tab","label":"Bind to Client","disabled":false,"info":""},{"id":"bd6c6f1b.6a8d78","type":"tab","label":"Discovery","disabled":true,"info":""},{"id":"850ffdbc.dc261","type":"flexradio-radio","name":"","host":"192.168.10.27","port":"4992","station_name":"NodeRed","slice_mode":"headless","slice_name":"A"},{"id":"12a1a376.b8ce0d","type":"ui_tab","name":"N1SH","icon":"dashboard","disabled":false,"hidden":false},{"id":"f5446654.24405","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"N1SH Radio Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4cb255d3.bfb58c","type":"ui_group","name":"Default","tab":"12a1a376.b8ce0d","order":1,"disp":true,"width":"6","collapse":false},{"id":"2ba5f7f8.38c438","type":"ui_group","name":"Group 2","tab":"12a1a376.b8ce0d","order":2,"disp":true,"width":6},{"id":"2c089f720bd2bcf1","type":"ui_spacer","name":"spacer","group":"4cb255d3.bfb58c","order":3,"width":6,"height":1},{"id":"613a14cb.d3b1dc","type":"flexradio-request","z":"ba45adb2.3b31a8","name":"","radio":"850ffdbc.dc261","x":590,"y":100,"wires":[["ef74c638.cef52"]]},{"id":"ef74c638.cef52","type":"debug","z":"ba45adb2.3b31a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"9503cfcd.0cd32","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub meter all","payloadType":"str","x":110,"y":80,"wires":[["613a14cb.d3b1dc"]]},{"id":"71b48ef5.0cefb8","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"unsub meter all","payloadType":"str","x":140,"y":120,"wires":[["613a14cb.d3b1dc"]]},{"id":"b61d1fac.f98498","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub slice 0","payloadType":"str","x":100,"y":200,"wires":[["613a14cb.d3b1dc"]]},{"id":"8fe5f8e7.9ced1","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"unsub slice 0","payloadType":"str","x":130,"y":240,"wires":[["613a14cb.d3b1dc"]]},{"id":"fe4bb8e7.738ae","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub tx all","payloadType":"str","x":100,"y":300,"wires":[["613a14cb.d3b1dc"]]},{"id":"f4a3bf30.ff76a8","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"unsub tx all","payloadType":"str","x":130,"y":340,"wires":[["613a14cb.d3b1dc"]]},{"id":"fde0eb8e.8ab088","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"meter list","payloadType":"str","x":340,"y":300,"wires":[["613a14cb.d3b1dc"]]},{"id":"194845e3.d431f2","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ant list","payloadType":"str","x":330,"y":340,"wires":[["613a14cb.d3b1dc"]]},{"id":"1f52aadf.db45e5","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub radio all","payloadType":"str","x":350,"y":200,"wires":[["613a14cb.d3b1dc"]]},{"id":"c41d8c77.555f68","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"info","payloadType":"str","x":330,"y":240,"wires":[["613a14cb.d3b1dc"]]},{"id":"d8f3c7d9.4cd5","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"unsub scu all","payloadType":"str","x":610,"y":340,"wires":[["613a14cb.d3b1dc"]]},{"id":"d898c790.2526e8","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub scu all","payloadType":"str","x":560,"y":300,"wires":[["613a14cb.d3b1dc"]]},{"id":"1b437d7f.b0e89b","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"transmit s rfpower 25","payloadType":"str","x":620,"y":420,"wires":[["613a14cb.d3b1dc"]]},{"id":"cc79af90.e34428","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub amplifier all","payloadType":"str","x":600,"y":460,"wires":[["613a14cb.d3b1dc"]]},{"id":"d11c0763.8f55f8","type":"flexradio-meter","z":"4b844d0a.6b7bdc","name":"","radio":"850ffdbc.dc261","topic":"","output_mode":"value","x":140,"y":300,"wires":[["ee3eda323c74b3d1","811848fe.24a428"]]},{"id":"811848fe.24a428","type":"switch","z":"4b844d0a.6b7bdc","name":"Meter Name","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"radio/mainfan","vt":"str"},{"t":"eq","v":"transmitter/patemp","vt":"str"},{"t":"eq","v":"transmitter/swr","vt":"str"},{"t":"eq","v":"codec/mic","vt":"str"},{"t":"eq","v":"transmitter/codec","vt":"str"},{"t":"eq","v":"codec/micpeak","vt":"str"},{"t":"eq","v":"transmitter/fwdpwr","vt":"str"},{"t":"eq","v":"slice/24khz","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":9,"x":190,"y":440,"wires":[["efe705bc.115cb8"],["e08e0bc7.e47f28"],["3fb48942.f0b68e"],["d7b8d241.f0595"],["7a101781.c5e7e"],["3e41a6e1.c748e2"],["b2fe444d.478b08"],["49a8389e235b3c3a"],["b68111549bf23ed8"]]},{"id":"efe705bc.115cb8","type":"function","z":"4b844d0a.6b7bdc","name":"RPM","func":"node.status({fill:'green', shape:'circle', text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":360,"wires":[["6609d2e1.9a7fa4"]]},{"id":"e08e0bc7.e47f28","type":"function","z":"4b844d0a.6b7bdc","name":"PATEMP","func":"const value = parseFloat((msg.payload * 1.8) + 32).toFixed(1);\nnode.status({fill:'green', shape:'circle', text:value});\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":420,"wires":[["1b40e5b7.479d42"]]},{"id":"a4e4d4b4.b4d3e","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"atu start","payloadType":"str","x":580,"y":500,"wires":[["613a14cb.d3b1dc"]]},{"id":"3fb48942.f0b68e","type":"function","z":"4b844d0a.6b7bdc","name":"SWR","func":"node.status({fill:'green', shape:'circle', text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":480,"wires":[["2d4cff0.bbf6282"]]},{"id":"6609d2e1.9a7fa4","type":"ui_gauge","z":"4b844d0a.6b7bdc","name":"Fan Speed","group":"4cb255d3.bfb58c","order":12,"width":0,"height":0,"gtype":"gage","title":"Fan Speed","label":"RPM","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":360,"wires":[]},{"id":"1b40e5b7.479d42","type":"ui_gauge","z":"4b844d0a.6b7bdc","name":"PA Temp","group":"4cb255d3.bfb58c","order":11,"width":0,"height":0,"gtype":"gage","title":"PA Temp","label":"F","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":420,"wires":[]},{"id":"2d4cff0.bbf6282","type":"ui_gauge","z":"4b844d0a.6b7bdc","name":"SWR","group":"4cb255d3.bfb58c","order":10,"width":0,"height":0,"gtype":"gage","title":"SWR","label":"SWR","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":480,"wires":[]},{"id":"db7ecbae.2d037","type":"comment","z":"4b844d0a.6b7bdc","name":"Temp conversions and formatting","info":"","x":510,"y":320,"wires":[]},{"id":"55894399.cc716c","type":"flexradio-status","z":"4b844d0a.6b7bdc","name":"","radio":"850ffdbc.dc261","topic":"connection","client_handle":"","x":140,"y":80,"wires":[["46126542.296ecc","46777bec79532001"]]},{"id":"46126542.296ecc","type":"switch","z":"4b844d0a.6b7bdc","name":"Connection State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":140,"wires":[["4b7f6a11.c4941c"],[],[]]},{"id":"4b7f6a11.c4941c","type":"template","z":"4b844d0a.6b7bdc","name":"Subscribe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n\"sub meter 1\",\n\"sub meter 2\",\n\"sub meter 3\",\n\"sub meter 18\",\n\"sub meter 19\",\n\"sub meter 21\",\n\"sub meter 22\",\n\"sub tx all\"\n]","output":"json","x":420,"y":140,"wires":[["76e63717.06d52"]]},{"id":"76e63717.06d52","type":"flexradio-request","z":"4b844d0a.6b7bdc","name":"","radio":"850ffdbc.dc261","x":610,"y":140,"wires":[[]]},{"id":"3228b8b4.4c0c68","type":"comment","z":"4b844d0a.6b7bdc","name":"When radio connects subscribe to meters","info":"","x":200,"y":40,"wires":[]},{"id":"2ffdc567.a9c412","type":"comment","z":"4b844d0a.6b7bdc","name":"Monitor meter updates from radio, show on dashboard","info":"","x":240,"y":260,"wires":[]},{"id":"7812f442.580c04","type":"inject","z":"4b844d0a.6b7bdc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":200,"wires":[["4b7f6a11.c4941c"]]},{"id":"d7b8d241.f0595","type":"function","z":"4b844d0a.6b7bdc","name":"MIC","func":"node.status({fill:'green', shape:'circle', text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":600,"wires":[[]]},{"id":"3e41a6e1.c748e2","type":"function","z":"4b844d0a.6b7bdc","name":"MICPEAK","func":"node.status({fill:'green', shape:'circle', text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":540,"wires":[["303a960e.22caf2"]]},{"id":"7a101781.c5e7e","type":"function","z":"4b844d0a.6b7bdc","name":"CODEC","func":"node.status({fill:'green', shape:'circle', text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":720,"wires":[[]]},{"id":"303a960e.22caf2","type":"ui_gauge","z":"4b844d0a.6b7bdc","name":"","group":"2ba5f7f8.38c438","order":1,"width":0,"height":0,"gtype":"gage","title":"MICPEAK","label":"dbfs","format":"{{value}}","min":"-200","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":540,"wires":[]},{"id":"17bb4f01.b24831","type":"function","z":"4b844d0a.6b7bdc","name":"","func":"const topic = msg.topic.split('/');\nmsg.topic = ([topic[1], topic[3]]).join('/');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":260,"wires":[[]]},{"id":"92c2cb23.7a2e7","type":"inject","z":"23d6208b.0d1d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub client all","payloadType":"str","x":150,"y":120,"wires":[["4eecbb74.b9601c"]]},{"id":"4eecbb74.b9601c","type":"flexradio-request","z":"23d6208b.0d1d7","name":"","radio":"850ffdbc.dc261","x":670,"y":160,"wires":[[]]},{"id":"86f8bc7e.caa948","type":"flexradio-status","z":"23d6208b.0d1d7","name":"client/+/connected","radio":"850ffdbc.dc261","topic":"client/+/connected","client_handle":"","x":150,"y":220,"wires":[["9fc6cffb.8b82c8","5872f99757b6ee29"]]},{"id":"9fc6cffb.8b82c8","type":"function","z":"23d6208b.0d1d7","name":"bind to SmartSDR","func":"// If that client is a SmartSDR program...\nif (/^SmartSDR/.test(msg.payload.program)) {\n    const client_id = msg.payload.client_id;\n    return {\n        payload: [\n            'client bind client_id=' + client_id,\n            'sub tx rfpower'\n            ]\n    };\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":220,"wires":[["4eecbb74.b9601c"]]},{"id":"cfa57f21.371738","type":"comment","z":"23d6208b.0d1d7","name":"Request list of clients","info":"","x":160,"y":80,"wires":[]},{"id":"4d9cea30.6c995c","type":"comment","z":"23d6208b.0d1d7","name":"When we get list of clients, bind to the first SmartSDR one","info":"","x":270,"y":180,"wires":[]},{"id":"da1c7aaa.8645e","type":"comment","z":"23d6208b.0d1d7","name":"Bind to SmartSDR Client or Maestro","info":"","x":170,"y":40,"wires":[]},{"id":"aaee05ea.a3ce68","type":"inject","z":"ba45adb2.3b31a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"file download unity_test","payloadType":"str","x":310,"y":40,"wires":[["613a14cb.d3b1dc"]]},{"id":"b8bfdc18.3fb53","type":"inject","z":"ba45adb2.3b31a8","name":"Volume 15","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"audio client 0 slice 0 gain 15","payloadType":"str","x":550,"y":600,"wires":[["613a14cb.d3b1dc"]]},{"id":"98519ca4.6d4828","type":"inject","z":"ba45adb2.3b31a8","name":"Volume 25","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"audio client 0 slice 0 gain 25","payloadType":"str","x":560,"y":640,"wires":[["613a14cb.d3b1dc"]]},{"id":"2a1120d0.0d5b8","type":"ui_gauge","z":"4b844d0a.6b7bdc","name":"","group":"2ba5f7f8.38c438","order":2,"width":0,"height":0,"gtype":"gage","title":"FWD Power","label":"W","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":660,"wires":[]},{"id":"731bd8f.0dca7a8","type":"function","z":"4b844d0a.6b7bdc","name":"FWDPWR","func":"node.status({fill:'green', shape:'circle', text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":660,"wires":[["2a1120d0.0d5b8"]]},{"id":"b2fe444d.478b08","type":"function","z":"4b844d0a.6b7bdc","name":"dBM to W","func":"let power = (10 ** (msg.payload / 10)) / 1000;\nmsg.payload = power.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":660,"wires":[["731bd8f.0dca7a8"]]},{"id":"953f9d34.aa4ab","type":"flexradio-discovery","z":"bd6c6f1b.6a8d78","name":"","port":4992,"x":130,"y":60,"wires":[["f3013527.06e128"]]},{"id":"f3013527.06e128","type":"debug","z":"bd6c6f1b.6a8d78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":60,"wires":[]},{"id":"d94238d7ddfdd9ba","type":"ui_button","z":"4b844d0a.6b7bdc","name":"","group":"4cb255d3.bfb58c","order":4,"width":1,"height":1,"passthru":false,"label":"10W","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":780,"wires":[["851663259386db0a"]]},{"id":"10c6529d8dc6e9b2","type":"ui_button","z":"4b844d0a.6b7bdc","name":"","group":"4cb255d3.bfb58c","order":5,"width":1,"height":1,"passthru":false,"label":"15W","tooltip":"","color":"","bgcolor":"","icon":"","payload":"15","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":780,"wires":[["851663259386db0a"]]},{"id":"5ecdbb3084fc9606","type":"ui_button","z":"4b844d0a.6b7bdc","name":"","group":"4cb255d3.bfb58c","order":6,"width":1,"height":1,"passthru":false,"label":"20W","tooltip":"","color":"","bgcolor":"","icon":"","payload":"20","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":820,"wires":[["851663259386db0a"]]},{"id":"c2604f1c31362f85","type":"ui_button","z":"4b844d0a.6b7bdc","name":"","group":"4cb255d3.bfb58c","order":7,"width":1,"height":1,"passthru":false,"label":"25W","tooltip":"","color":"","bgcolor":"","icon":"","payload":"25","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":820,"wires":[["851663259386db0a"]]},{"id":"570794b0e03ca877","type":"ui_button","z":"4b844d0a.6b7bdc","name":"","group":"4cb255d3.bfb58c","order":8,"width":1,"height":1,"passthru":false,"label":"35W","tooltip":"","color":"","bgcolor":"","icon":"","payload":"35","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":860,"wires":[["851663259386db0a"]]},{"id":"6ad861b8226c3101","type":"ui_button","z":"4b844d0a.6b7bdc","name":"","group":"4cb255d3.bfb58c","order":9,"width":1,"height":1,"passthru":false,"label":"50W","tooltip":"","color":"","bgcolor":"","icon":"","payload":"50","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":860,"wires":[["851663259386db0a"]]},{"id":"7307e3507458c422","type":"flexradio-request","z":"4b844d0a.6b7bdc","name":"","radio":"850ffdbc.dc261","x":870,"y":960,"wires":[[]]},{"id":"2101949154d75bf6","type":"flexradio-status","z":"4b844d0a.6b7bdc","name":"Audio Level","radio":"850ffdbc.dc261","topic":"slice/0","client_handle":"","x":130,"y":1120,"wires":[["b355729bd5d2efb6","3071c63d2d16ec60"]]},{"id":"4335b9e372bec901","type":"ui_slider","z":"4b844d0a.6b7bdc","name":"","label":"Audio Level","tooltip":"","group":"4cb255d3.bfb58c","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":470,"y":1120,"wires":[["3250dfdea9cd42a9"]]},{"id":"3250dfdea9cd42a9","type":"template","z":"4b844d0a.6b7bdc","name":"Set Audio Gain","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"audio client 0 slice 0 gain {{payload}}","output":"str","x":660,"y":1120,"wires":[["7307e3507458c422"]]},{"id":"b355729bd5d2efb6","type":"change","z":"4b844d0a.6b7bdc","name":"Audio Level","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.audio_level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1120,"wires":[["4335b9e372bec901"]]},{"id":"0851ca52d933a8a7","type":"comment","z":"4b844d0a.6b7bdc","name":"Send changes from UI","info":"","x":600,"y":1080,"wires":[]},{"id":"0e525c6d9e425c31","type":"inject","z":"23d6208b.0d1d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub slice all","payloadType":"str","x":390,"y":100,"wires":[["4eecbb74.b9601c"]]},{"id":"e8cea91ab3cb9286","type":"flexradio-status","z":"4b844d0a.6b7bdc","name":"rfpower","radio":"850ffdbc.dc261","topic":"transmit/band/#","client_handle":"","x":110,"y":940,"wires":[["4e76a6f1b6af704c"]]},{"id":"db4684da2994b585","type":"ui_slider","z":"4b844d0a.6b7bdc","name":"","label":"RF Power","tooltip":"","group":"4cb255d3.bfb58c","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":400,"y":940,"wires":[["851663259386db0a"]]},{"id":"851663259386db0a","type":"template","z":"4b844d0a.6b7bdc","name":"Set RF Power","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"transmit set rfpower={{payload}}","output":"str","x":560,"y":940,"wires":[["7307e3507458c422"]]},{"id":"4e76a6f1b6af704c","type":"change","z":"4b844d0a.6b7bdc","name":"RFPower","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rfpower","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":940,"wires":[["db4684da2994b585"]]},{"id":"2f9df57c48e5a983","type":"comment","z":"4b844d0a.6b7bdc","name":"Update UI with changes","info":"","x":170,"y":900,"wires":[]},{"id":"d92dd9a10b87b4ae","type":"comment","z":"4b844d0a.6b7bdc","name":"Send changes from UI","info":"","x":560,"y":900,"wires":[]},{"id":"6d521eb07faae31a","type":"comment","z":"4b844d0a.6b7bdc","name":"RF Power","info":"","x":100,"y":740,"wires":[]},{"id":"29f11981d29b2e2c","type":"comment","z":"4b844d0a.6b7bdc","name":"Audio Level (Slice 0)","info":"","x":130,"y":1040,"wires":[]},{"id":"0eefb95b4a202752","type":"comment","z":"4b844d0a.6b7bdc","name":"Update UI with changes","info":"","x":170,"y":1080,"wires":[]},{"id":"b68111549bf23ed8","type":"debug","z":"4b844d0a.6b7bdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":190,"y":620,"wires":[]},{"id":"ee3eda323c74b3d1","type":"debug","z":"4b844d0a.6b7bdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":260,"wires":[]},{"id":"1e7144ca792f31e1","type":"inject","z":"ba45adb2.3b31a8","name":"Fake Meter","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"meter create name=A_TIMES type=AMP min=0 max=1000 units=WATTS","payloadType":"str","x":150,"y":480,"wires":[["613a14cb.d3b1dc"]]},{"id":"46777bec79532001","type":"debug","z":"4b844d0a.6b7bdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":80,"wires":[]},{"id":"5872f99757b6ee29","type":"debug","z":"23d6208b.0d1d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":280,"wires":[]},{"id":"3071c63d2d16ec60","type":"debug","z":"4b844d0a.6b7bdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":300,"y":1180,"wires":[]},{"id":"49a8389e235b3c3a","type":"function","z":"4b844d0a.6b7bdc","name":"24khz","func":"node.status({fill:'green', shape:'circle', text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":780,"wires":[[]]}]