flows.json
[{"id":"ba602cc.516775","type":"tab","label":"Discovery","disabled":false,"info":""},{"id":"8ac97bd7.32a26","type":"tab","label":"Requests","disabled":false,"info":""},{"id":"efdf6ae4.f20e08","type":"tab","label":"...and More","disabled":false,"info":""},{"id":"9f6da6bf.87f77","type":"flexradio-radio","name":"Flex6600M","host":"192.168.10.27","port":"4992","station_name":"NodeRed","slice_mode":"headless","slice_name":"A"},{"id":"81d9941c.fca0c8","type":"flexradio-request","z":"8ac97bd7.32a26","name":"","radio":"9f6da6bf.87f77","x":290,"y":260,"wires":[["d2d17b5c.be92e"]]},{"id":"201469f7.9fe02e","type":"inject","z":"8ac97bd7.32a26","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"radio reboot","payloadType":"str","x":110,"y":780,"wires":[[]]},{"id":"5cc9b558.8c0e94","type":"vita49-decode","z":"ba602cc.516775","name":"","datatype_in":"buffer","datatype_out":"utf8","x":220,"y":320,"wires":[["c2f31fbf.be2a98","57a11b33.66355c"]]},{"id":"a49bd0e5.72df78","type":"udp in","z":"ba602cc.516775","name":"udp 4992","iface":"","port":"4993","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":100,"y":260,"wires":[["5cc9b558.8c0e94","2008f833.09f0f"]]},{"id":"f3d45310.4eda1","type":"debug","z":"ba602cc.516775","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":380,"wires":[]},{"id":"c2f31fbf.be2a98","type":"debug","z":"ba602cc.516775","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":320,"wires":[]},{"id":"57a11b33.66355c","type":"flexradio-decode","z":"ba602cc.516775","name":"","datatype":"buffer","x":310,"y":380,"wires":[["f3d45310.4eda1"]]},{"id":"31158365.816864","type":"inject","z":"8ac97bd7.32a26","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"info","payloadType":"str","x":110,"y":260,"wires":[["81d9941c.fca0c8"]]},{"id":"ec5925ef.6cddd8","type":"debug","z":"8ac97bd7.32a26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]},{"id":"857d6169.4c59b8","type":"flexradio-messages","z":"8ac97bd7.32a26","name":"","radio":"9f6da6bf.87f77","radio_messages":true,"status_messages":true,"client_handle":"","x":130,"y":100,"wires":[["ec5925ef.6cddd8"]]},{"id":"aa30fe89.6830e8","type":"flexradio-discovery","z":"ba602cc.516775","name":"","port":"4992","x":130,"y":100,"wires":[["db5f865b.378058"]]},{"id":"db5f865b.378058","type":"debug","z":"ba602cc.516775","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":100,"wires":[]},{"id":"2008f833.09f0f","type":"debug","z":"ba602cc.516775","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":260,"wires":[]},{"id":"323399f4.c1af76","type":"comment","z":"ba602cc.516775","name":"Listen for FlexRadio's on the network using flex-discovery","info":"","x":230,"y":60,"wires":[]},{"id":"e4bbc9c6.93adc8","type":"comment","z":"ba602cc.516775","name":"Listen for FlexRadio's on the network using UDP and decoders","info":"","x":240,"y":220,"wires":[]},{"id":"32594af0.c4fcde","type":"comment","z":"ba602cc.516775","name":"Output does not contain VITA-49 packet data.","info":"","x":390,"y":140,"wires":[]},{"id":"ccd33d70.a46a08","type":"comment","z":"ba602cc.516775","name":"Output contanins VITA-49 packet data","info":"","x":410,"y":420,"wires":[]},{"id":"20b4a00f.d3563","type":"comment","z":"8ac97bd7.32a26","name":"Monitor status and messages produced by a connected radio using flexradio-messages.","info":"","x":320,"y":60,"wires":[]},{"id":"28595d57.01a862","type":"comment","z":"8ac97bd7.32a26","name":"Can output status, messages, or both.","info":"[Status_Format](http://wiki.flexradio.com/index.php?title=SmartSDR_TCP/IP_API#Status_Format)","x":490,"y":140,"wires":[]},{"id":"dabde227.4a229","type":"comment","z":"8ac97bd7.32a26","name":"Send requests to a connected radio using flexradio-request","info":"","x":230,"y":220,"wires":[]},{"id":"d2d17b5c.be92e","type":"debug","z":"8ac97bd7.32a26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"779d6285.188cd4","type":"flexradio-request","z":"efdf6ae4.f20e08","name":"","radio":"9f6da6bf.87f77","x":430,"y":340,"wires":[["e185ee7.f4d1d1"]]},{"id":"e185ee7.f4d1d1","type":"debug","z":"efdf6ae4.f20e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":340,"wires":[]},{"id":"59e17267.571a34","type":"inject","z":"efdf6ae4.f20e08","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub radio all","payloadType":"str","x":110,"y":180,"wires":[["779d6285.188cd4"]]},{"id":"9de3f977.7ab518","type":"inject","z":"efdf6ae4.f20e08","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"unsub radio all","payloadType":"str","x":120,"y":220,"wires":[["779d6285.188cd4"]]},{"id":"5debe190.4daa5","type":"inject","z":"efdf6ae4.f20e08","name":"message severity=error","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"message severity=error code=0x000012 \"You are a Radio\"","payloadType":"str","x":140,"y":80,"wires":[[]]},{"id":"700f569f.41e178","type":"inject","z":"efdf6ae4.f20e08","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub slice all","payloadType":"str","x":110,"y":320,"wires":[["779d6285.188cd4"]]},{"id":"6bed14b.bdc74ec","type":"inject","z":"efdf6ae4.f20e08","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sub meter all","payloadType":"str","x":110,"y":480,"wires":[["779d6285.188cd4"]]},{"id":"c2308e98.b35938","type":"inject","z":"efdf6ae4.f20e08","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"unsub meter all","payloadType":"str","x":120,"y":520,"wires":[["779d6285.188cd4"]]},{"id":"590c754d.23b50c","type":"inject","z":"efdf6ae4.f20e08","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"unsub slice all","payloadType":"str","x":110,"y":360,"wires":[["779d6285.188cd4"]]}]