packages/node-red-contrib-flexradio/examples/Basic Example.json
[{"id":"f10ab0ce06103a06","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"d4985d9b94d7e42d","type":"tab","label":"Meters","disabled":false,"info":""},{"id":"7fbf2bfc9badc7d3","type":"flexradio-radio","name":"","host":"flex-6600m","port":"4992","station_name":"Node-RED","slice_mode":"headless","slice_name":"A"},{"id":"28adde7a5bd3a94a","type":"ui_group","name":"Default","tab":"0f43f239a43150ca","order":1,"disp":true,"width":"6","collapse":false},{"id":"0f43f239a43150ca","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1963027131118804","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1727525f6692cf7f","type":"flexradio-message","z":"f10ab0ce06103a06","name":"","radio":"7fbf2bfc9badc7d3","topic":"slice/0","x":130,"y":820,"wires":[["3ad74bc191f57f89"]]},{"id":"261abdf055d29022","type":"ui_gauge","z":"f10ab0ce06103a06","name":"","group":"28adde7a5bd3a94a","order":0,"width":0,"height":0,"gtype":"gage","title":"Frequency","label":"MHz","format":"{{value}}","min":0,"max":"58","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":760,"wires":[]},{"id":"953e40ac0b07bd6d","type":"inject","z":"f10ab0ce06103a06","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"sub slice 0","payloadType":"str","x":130,"y":720,"wires":[["74b82fd879e4685a"]]},{"id":"74b82fd879e4685a","type":"flexradio-request","z":"f10ab0ce06103a06","name":"","radio":"7fbf2bfc9badc7d3","x":310,"y":720,"wires":[["9b0f3561f0720d2d"]]},{"id":"b4c77c50b81266df","type":"function","z":"f10ab0ce06103a06","name":"Frequency","func":"node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":820,"wires":[[]]},{"id":"e781ba79323d3adb","type":"comment","z":"f10ab0ce06103a06","name":"Subscribe to slice/0 changes","info":"","x":160,"y":680,"wires":[]},{"id":"3a7266d52ae47a0e","type":"comment","z":"f10ab0ce06103a06","name":"Build dashboards from radio messages and status","info":"","x":210,"y":640,"wires":[]},{"id":"1d49eecf5a0b962c","type":"comment","z":"f10ab0ce06103a06","name":"Update dashboard with changes to frequency","info":"","x":210,"y":780,"wires":[]},{"id":"3ad74bc191f57f89","type":"switch","z":"f10ab0ce06103a06","name":"if RF_frequency","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"RF_frequency","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":820,"wires":[["3a322ccd0d0b7bb8"],[]]},{"id":"3a322ccd0d0b7bb8","type":"change","z":"f10ab0ce06103a06","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.RF_frequency","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":800,"wires":[["b4c77c50b81266df","261abdf055d29022"]]},{"id":"9b0f3561f0720d2d","type":"debug","z":"f10ab0ce06103a06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":720,"wires":[]},{"id":"34b693d8da2eedd4","type":"flexradio-meter","z":"d4985d9b94d7e42d","name":"","radio":"7fbf2bfc9badc7d3","topic":"RAD/+/MAINFAN","output_mode":"value","x":140,"y":220,"wires":[["8627cb5ddf246d21","2651e08d3642bc8d"]]},{"id":"44777ef99eb60357","type":"comment","z":"d4985d9b94d7e42d","name":"Inject radio meters with flexradio-meter (SWR, Fan speed, Mic levels, etc.)","info":"","x":300,"y":180,"wires":[]},{"id":"8627cb5ddf246d21","type":"debug","z":"d4985d9b94d7e42d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":220,"wires":[]},{"id":"648213094d7efc27","type":"inject","z":"d4985d9b94d7e42d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"sub meter 18","payloadType":"str","x":160,"y":120,"wires":[["df1a645485ec8f29"]]},{"id":"df1a645485ec8f29","type":"flexradio-request","z":"d4985d9b94d7e42d","name":"","radio":"7fbf2bfc9badc7d3","x":370,"y":120,"wires":[["7ae871d3298c339a"]]},{"id":"8f49b528e31f4ba9","type":"comment","z":"d4985d9b94d7e42d","name":"Subscribe to meters or other data from the radio","info":"","x":220,"y":80,"wires":[]},{"id":"7ae871d3298c339a","type":"debug","z":"d4985d9b94d7e42d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":120,"wires":[]},{"id":"b111b6e32c072862","type":"comment","z":"d4985d9b94d7e42d","name":"Track radio meters and interface changes","info":"","x":180,"y":40,"wires":[]},{"id":"2651e08d3642bc8d","type":"function","z":"d4985d9b94d7e42d","name":"Fan speed","func":"node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":260,"wires":[[]]}]