packages/node-red-contrib-flexradio/examples/Discovery Dashboard.json
[
    {
        "id": "cd2c91a331ba76e5",
        "type": "tab",
        "label": "Discovery Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e816dcc7c981cc46",
        "type": "flexradio-discovery",
        "z": "cd2c91a331ba76e5",
        "name": "",
        "port": 4992,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "0e3e3da2b75be21d"
            ]
        ]
    },
    {
        "id": "ce4e2255eaa7be8b",
        "type": "ui_text",
        "z": "cd2c91a331ba76e5",
        "group": "934a16b21c57e5d4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Model",
        "format": "{{msg.payload.model}}",
        "layout": "row-spread",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "9b4795e9f3f20129",
        "type": "ui_text",
        "z": "cd2c91a331ba76e5",
        "group": "934a16b21c57e5d4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Version",
        "format": "{{msg.payload.version}}",
        "layout": "row-spread",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "67dc77b10a31d7d2",
        "type": "ui_text",
        "z": "cd2c91a331ba76e5",
        "group": "934a16b21c57e5d4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Callsign",
        "format": "{{msg.payload.callsign}}",
        "layout": "row-spread",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "e95b44be6d970f2b",
        "type": "ui_text",
        "z": "cd2c91a331ba76e5",
        "group": "934a16b21c57e5d4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "20678c261e557ed6",
        "type": "ui_text",
        "z": "cd2c91a331ba76e5",
        "group": "934a16b21c57e5d4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Radio Name",
        "format": "{{msg.payload.nickname}}",
        "layout": "row-spread",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "0e3e3da2b75be21d",
        "type": "trigger",
        "z": "cd2c91a331ba76e5",
        "name": "",
        "op1": "",
        "op2": "{\"status\":\"Off\"}",
        "op1type": "pay",
        "op2type": "json",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "20678c261e557ed6",
                "ce4e2255eaa7be8b",
                "9b4795e9f3f20129",
                "67dc77b10a31d7d2",
                "e95b44be6d970f2b",
                "3b12972d1eb5a36b"
            ]
        ]
    },
    {
        "id": "3b12972d1eb5a36b",
        "type": "change",
        "z": "cd2c91a331ba76e5",
        "name": "Save Discovery to flow",
        "rules": [
            {
                "t": "set",
                "p": "discovery",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "discovery_time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e2a9cb77eecd33d8",
        "type": "comment",
        "z": "cd2c91a331ba76e5",
        "name": "Radio Discovery Dashboard Example",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "2d65f82bbbea5118",
        "type": "comment",
        "z": "cd2c91a331ba76e5",
        "name": "Send status \"Off\" if no discoverys for 15s",
        "info": "",
        "x": 280,
        "y": 160,
        "wires": []
    },
    {
        "id": "c309ae443e0abe78",
        "type": "comment",
        "z": "cd2c91a331ba76e5",
        "name": "Save to flow for use in other nodes",
        "info": "",
        "x": 700,
        "y": 340,
        "wires": []
    },
    {
        "id": "4309fd3e9c27e31b",
        "type": "comment",
        "z": "cd2c91a331ba76e5",
        "name": "UI Dashboard",
        "info": "",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "934a16b21c57e5d4",
        "type": "ui_group",
        "name": "Discovery",
        "tab": "2cf42508ef86c162",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2cf42508ef86c162",
        "type": "ui_tab",
        "name": "FlexRadio Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]