packages/node-red-contrib-flexradio/examples/Discovery UI.json
[
    {
        "id": "e816dcc7c981cc46",
        "type": "flexradio-discovery",
        "z": "f10ab0ce06103a06",
        "name": "",
        "port": 4992,
        "x": 190,
        "y": 640,
        "wires": [
            [
                "0e3e3da2b75be21d"
            ]
        ]
    },
    {
        "id": "ce4e2255eaa7be8b",
        "type": "ui_text",
        "z": "f10ab0ce06103a06",
        "group": "934a16b21c57e5d4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Model",
        "format": "{{msg.payload.model}}",
        "layout": "row-spread",
        "x": 690,
        "y": 640,
        "wires": []
    },
    {
        "id": "9b4795e9f3f20129",
        "type": "ui_text",
        "z": "f10ab0ce06103a06",
        "group": "934a16b21c57e5d4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Version",
        "format": "{{msg.payload.version}}",
        "layout": "row-spread",
        "x": 700,
        "y": 680,
        "wires": []
    },
    {
        "id": "67dc77b10a31d7d2",
        "type": "ui_text",
        "z": "f10ab0ce06103a06",
        "group": "934a16b21c57e5d4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Callsign",
        "format": "{{msg.payload.callsign}}",
        "layout": "row-spread",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "e95b44be6d970f2b",
        "type": "ui_text",
        "z": "f10ab0ce06103a06",
        "group": "934a16b21c57e5d4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "x": 690,
        "y": 760,
        "wires": []
    },
    {
        "id": "20678c261e557ed6",
        "type": "ui_text",
        "z": "f10ab0ce06103a06",
        "group": "934a16b21c57e5d4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Radio Name",
        "format": "{{msg.payload.nickname}}",
        "layout": "row-spread",
        "x": 710,
        "y": 600,
        "wires": []
    },
    {
        "id": "0e3e3da2b75be21d",
        "type": "trigger",
        "z": "f10ab0ce06103a06",
        "name": "",
        "op1": "",
        "op2": "{\"status\":\"Off\"}",
        "op1type": "pay",
        "op2type": "json",
        "duration": "15",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 390,
        "y": 640,
        "wires": [
            [
                "20678c261e557ed6",
                "ce4e2255eaa7be8b",
                "9b4795e9f3f20129",
                "67dc77b10a31d7d2",
                "e95b44be6d970f2b",
                "3b12972d1eb5a36b"
            ]
        ]
    },
    {
        "id": "3b12972d1eb5a36b",
        "type": "change",
        "z": "f10ab0ce06103a06",
        "name": "Save Discovery",
        "rules": [
            {
                "t": "set",
                "p": "discovery",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "discovery_time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "934a16b21c57e5d4",
        "type": "ui_group",
        "name": "Home",
        "tab": "2cf42508ef86c162",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "2cf42508ef86c162",
        "type": "ui_tab",
        "name": "Radio",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]