packages/node-red-contrib-flexradio/examples/Slice 0 Frequency Monitor.json
[
    {
        "id": "1727525f6692cf7f",
        "type": "flexradio-message",
        "z": "f10ab0ce06103a06",
        "name": "",
        "radio": "7fbf2bfc9badc7d3",
        "topic": "slice/0",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "3ad74bc191f57f89"
            ]
        ]
    },
    {
        "id": "953e40ac0b07bd6d",
        "type": "inject",
        "z": "f10ab0ce06103a06",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sub slice 0",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "74b82fd879e4685a"
            ]
        ]
    },
    {
        "id": "74b82fd879e4685a",
        "type": "flexradio-request",
        "z": "f10ab0ce06103a06",
        "name": "",
        "radio": "7fbf2bfc9badc7d3",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "9b0f3561f0720d2d"
            ]
        ]
    },
    {
        "id": "b4c77c50b81266df",
        "type": "function",
        "z": "f10ab0ce06103a06",
        "name": "Frequency",
        "func": "node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e781ba79323d3adb",
        "type": "comment",
        "z": "f10ab0ce06103a06",
        "name": "Subscribe to slice/0 changes",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "3a7266d52ae47a0e",
        "type": "comment",
        "z": "f10ab0ce06103a06",
        "name": "Build dashboards from radio messages and status",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "1d49eecf5a0b962c",
        "type": "comment",
        "z": "f10ab0ce06103a06",
        "name": "Update dashboard with changes to frequency",
        "info": "",
        "x": 210,
        "y": 180,
        "wires": []
    },
    {
        "id": "3ad74bc191f57f89",
        "type": "switch",
        "z": "f10ab0ce06103a06",
        "name": "if RF_frequency",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "RF_frequency",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "3a322ccd0d0b7bb8"
            ],
            []
        ]
    },
    {
        "id": "3a322ccd0d0b7bb8",
        "type": "change",
        "z": "f10ab0ce06103a06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.RF_frequency",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "b4c77c50b81266df"
            ]
        ]
    },
    {
        "id": "9b0f3561f0720d2d",
        "type": "debug",
        "z": "f10ab0ce06103a06",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "7fbf2bfc9badc7d3",
        "type": "flexradio-radio",
        "name": "",
        "host": "flex-6600m",
        "port": "4992",
        "station_name": "NodeRed",
        "slice_mode": "headless",
        "slice_name": "A"
    }
]